<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="team10.hkr.challengeapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission
        android:name="android.hardware.camera2"
        android:required="true" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Controllers.PrimaryActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".Controllers.MainActivity" />
        <activity android:name=".Controllers.SignUpActivity.SignUpActivity1Email" />
        <activity android:name=".Controllers.SignUpActivity.SignUpActivity2FullNamePassword" />
        <activity android:name=".Controllers.SignUpActivity.SignUpActivity3UserName" />
        <activity android:name=".Controllers.SignUpActivity.SignUpActivity5ProfilePhoto" />
        <activity
            android:name=".Controllers.LoginActivity"
            android:label="@string/title_activity_primary"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Controllers.ProfileActivity" />
        <activity android:name=".Controllers.UploadPostActivity.UploadPostDescriptionActivity" />
        <activity android:name=".Controllers.SettingsActivity.SettingsActivityMainView" />
        <activity android:name=".Controllers.UploadPostActivity.CameraActivity" />
        <activity android:name=".Controllers.PostActivity" />
        <activity
            android:name=".Controllers.ReportActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".Controllers.SearchActivity" />
        <activity android:name=".Controllers.SettingsActivity.ChangeNameView" />
        <activity android:name=".Controllers.SettingsActivity.ChangeEmailView" />
        <activity android:name=".Controllers.SettingsActivity.ChangePasswordView" />
        <activity android:name=".Controllers.CommentActivity" />
        <activity android:name=".Controllers.SettingsActivity.CloseAccountActivity" />
        <activity android:name=".Controllers.SettingsActivity.ChangeProfilePictureActivity"></activity>
    </application>

</manifest>